/* Start Variables */
:root {
	--main-color: #2196f3;
	--main-color-alt: #1787e0;
	--secondary-color: #ececec;
	--hover-color: #fafafa;

	--section-padding: 60px;
}
/* End Variables */
/* Start Global Rules */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Cairo", sans-serif;
	cursor: default;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.container {
	margin: 0 auto;
	padding: 0 15px;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rules */
/* Start Components */
.section-title {
	text-transform: uppercase;
	margin: 0 auto 60px;
	width: fit-content;
	border: 1px solid black;
	padding: 10px 20px;
	font-size: 35px;
	position: relative;
	transition: color 0.3s, border-color 0.3s;
	z-index: 1;
	cursor: default;
}
.section-title:hover {
	color: white;
	border-color: transparent;
	transition-delay: 0.6s;
}
.section-title::before,
.section-title::after {
	content: "";
	position: absolute;
	background-color: var(--main-color);
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	width: 15px;
	height: 15px;
	z-index: -1;
}
.section-title::before {
	left: -40px;
}
.section-title::after {
	right: -40px;
}
.section-title:hover::before,
.section-title:hover::after {
	transition: border-radius 0.3s 0.3s linear, left 0.3s linear,
		right 0.3s linear, width 0.3s 0.3s linear, height 0.3s 0.3s linear;
	border-radius: 0;
	width: 52%;
	height: 100%;
}
.section-title:hover::before {
	left: 0;
}
.section-title:hover::after {
	right: 0;
}
/* End Components */
/* Start Header */
header {
	box-shadow: 0 0 10px #ddd;
}
header .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	column-gap: 20px;
}
.logo {
	font-size: 25px;
	font-weight: bold;
	color: var(--main-color);
	height: 73px;
	display: flex;
	align-items: center;
}
.nav {
	display: flex;
}
@media (max-width: 767px) {
	header,
	.logo,
	.nav {
		margin: auto;
	}
}
.nav > li {
	display: block;
	position: relative;
	transition: background-color 0.3s, color 0.3s;
	z-index: 2;
}
.nav > li > a {
	display: block;
	padding: 25px;
	color: black;
	font-size: 20px;
	font-weight: 400;
}
@media (max-width: 767px) {
	.nav > li > a {
		font-size: 15px;
		padding: 12px 10px;
		white-space: nowrap;
	}
}
.nav > li::before {
	content: "";
	background-color: var(--main-color);
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	width: 0;
	transition: width 0.3s;
}
.nav > li:hover {
	background-color: var(--hover-color);
	color: var(--main-color);
}
.nav > li:hover::before {
	width: 100%;
}
.other-links {
	position: relative;
}
.mega-menu {
	display: flex;
	position: absolute;
	left: 0;
	top: 100%;
	border-bottom: 4px solid var(--main-color);
	padding: 30px;
	gap: 40px;
	width: 100%;
	translate: 0 30px;
	transition: opacity 0.3s, translate 0.3s;
	visibility: hidden;
	opacity: 0;
	background-color: white;
	z-index: 1;
	border-top: 2px solid #ccc;
}
.mega-menu::before {
	content: "";
	position: absolute;
	top: -30px;
	right: 0;
	left: 0;
	height: 30px;
}
.other-links:hover + .mega-menu,
.mega-menu:hover {
	translate: 0;
	visibility: visible;
	opacity: 1;
}
.mega-menu img {
	max-width: 100%;
}
@media (max-width: 991px) {
	.mega-menu {
		gap: 0;
		padding: 10px;
	}
	.mega-menu img {
		display: none;
	}
}
.mega-menu__links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-basis: 100%;
	align-self: flex-start;
	column-gap: 50px;
	min-width: 450px;
	flex: 1;
}
@media (max-width: 767px) {
	.mega-menu__links {
		column-gap: 20px;
		grid-template-columns: 1fr;
		min-width: 0;
	}
}
.mega-menu__links li {
	position: relative;
}
.mega-menu__links li i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
}
.mega-menu__links li a {
	position: relative;
	display: block;
	padding: 15px 20px 15px 40px;
	color: var(--main-color);
	font-weight: 600;
}
.mega-menu__links li:not(:last-child, :nth-last-child(2)) {
	border-bottom: 1px solid #ddd;
}
@media (max-width: 767px) {
	.mega-menu__links li:nth-last-child(2) {
		border-bottom: 1px solid #ddd;
	}
}
.mega-menu__links li a::before {
	content: "";
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 0;
	transition: width 0.3s;
	background-color: var(--hover-color);
	z-index: -1;
}
.mega-menu__links li a:hover::before {
	width: 100%;
}
/* End Header */
/* Start Landing */
.landing {
	background-image: linear-gradient(
		175deg,
		var(--secondary-color) 82%,
		white 82%
	);
	position: relative;
}
.landing .container {
	display: flex;
	align-items: center;
	height: calc(100svh - 73px);
	gap: 40px;
}
.landing__title {
	font-size: 40px;
	margin-bottom: 10px;
	letter-spacing: -2px;
	margin-top: -150px;
}
.landing__welcome-text {
	line-height: 1.5;
	font-size: 24px;
	font-weight: 300;
}
.landing__image {
	flex-basis: 100%;
	margin-top: -150px;
}
@media (max-width: 991px) {
	.landing__image {
		display: none;
	}
	.landing__text {
		text-align: center;
	}
	.landing__title {
		font-size: 30px;
	}
	.landing__welcome-text {
		font-size: 20px;
		padding: 0 10px;
	}
}
.landing__image img {
	max-width: 100%;
	width: 800px;
	animation: image-float 6s linear infinite;
}
.landing__arrow {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	animation: arrow-jump 1.5s infinite;
}
.landing__arrow i {
	font-size: 30px;
	color: var(--main-color);
}

/* End Landing */
/* Start Articles */
.articles {
	padding: var(--section-padding) 0;
}
.articles .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 30px;
}
.articles article {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s, transform 0.3s;
}
.articles article:hover {
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
	transform: translateY(-10px);
}
.articles article:hover .articles__more i {
	animation: right-left 0.5s ease infinite;
}
.articles article img {
	max-width: 100%;
}
.articles article .text {
	padding: 15px;
}
.articles article h3 {
	margin-bottom: 10px;
}
.articles article p {
	line-height: 1.6;
	color: #666;
}
.articles__more {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	color: var(--main-color);
}
.articles__more a {
	color: var(--main-color);
	font-weight: bold;
}
.articles__more i {
	font-size: 18px;
}
/* End Articles */
/* Start Gallery */
.gallery {
	background-color: var(--secondary-color);
	padding: var(--section-padding) 0;
	background-image: linear-gradient(135deg, white 30%, transparent 30%),
		linear-gradient(-135deg, white 30%, transparent 30%);
	background-size: 30px 15px;
	background-repeat: repeat-x;
}
.gallery .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
	margin-top: 100px;
}
.gallery .image {
	border: 15px solid white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.gallery .image .holder {
	position: relative;
	overflow: hidden;
}
.gallery .image img {
	max-width: 100%;
	transition: rotate 0.3s, scale 0.3s;
}
.gallery .image .holder:hover img {
	rotate: 5deg;
	scale: 1.1;
}
.gallery .image .holder::before {
	content: "";
	background-color: rgba(255, 255, 255, 0.2);
	position: absolute;
	inset: 0;
	scale: 0;
	z-index: 1;
}
.gallery .image .holder:hover::before {
	scale: 1;
	opacity: 0;
	transition: scale 0.2s, opacity 0.5s 0.2s;
}
/* End Gallery */
/* Start Features */
.features {
	padding: var(--section-padding) 0;
}
.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.features .container .card {
	border: 1px solid #ccc;
	text-align: center;
}
.features .container .card.card--red {
	--card-color: #f44036;
}
.features .container .card.card--green {
	--card-color: #009688;
}
.features .container .card.card--blue {
	--card-color: #03a9f4;
}
.features .container .card .text {
	padding: 0 20px 20px;
}
.features .container .card .image {
	position: relative;
	overflow: hidden;
}
.features .container .card .image::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--card-color, transparent);
	opacity: 0.6;
}
.features .container .card .image::after {
	content: "";
	position: absolute;
	background-color: white;
	inset: 40% -1px 0;
	translate: 0 50px;
	transform-origin: right;
	transform: skew(0, -21deg);
	transition: transform 0.25s;
}
.features .container .card:hover .image::after {
	transform: skew(76deg, -21deg);
}
.features .container .card img {
	max-width: 100%;
}
.features .container .card h3 {
	padding-bottom: 20px;
	font-size: 40px;
	position: relative;
	width: fit-content;
	margin: 0 auto 30px;
}
.features .container .card h3::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 30px);
	height: 5px;
	background-color: var(--card-color, black);
}
.features .container .card p {
	line-height: 2;
	font-size: 20px;
	color: #777;
	margin-bottom: 50px;
}
.features .container .card a {
	display: block;
	width: fit-content;
	font-size: 24px;
	font-weight: bold;
	color: var(--card-color, black);
	border: 3px solid var(--card-color, black);
	margin: 0 auto;
	padding: 8px 25px;
	border-radius: 8px;
	position: relative;
	transition: color 0.2s;
}
.features .container .card a::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--card-color);
	z-index: -1;
	transform-origin: left;
	scale: 0 1;
	transition: scale 0.2s;
}
.features .container .card:hover a {
	color: white;
}
.features .container .card:hover a::before {
	scale: 1 1;
}
/* End Features */
/* Start Testimonials */
.testimonials {
	padding: var(--section-padding) 0;
	background-color: var(--secondary-color);
}
.testimonials .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
	margin-top: 100px;
}
.testimonials .container .card {
	position: relative;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.testimonials .container .card .image-holder {
	position: absolute;
	right: -10px;
	top: 0;
	transform: translateY(-50%);
	border-radius: 50%;
	width: 100px;
	overflow: hidden;
	border: 10px solid var(--secondary-color);
}
.testimonials .container .card .image-holder img {
	max-width: 100%;
}
.testimonials .container .card h3 {
	margin-bottom: 10px;
}
.testimonials .container .card p {
	line-height: 1.5;
	color: #777;
}
.testimonials .container .card .rating {
	margin-bottom: 10px;
	margin-top: 10px;
}
.testimonials .container .card .rating .fa-solid {
	color: #ffc107;
}
/* End Testimonials */
/* Start Members */
.members {
	padding: var(--section-padding) 0;
}
.members .container {
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.members .container .card {
	position: relative;
	padding-top: 70px;
	overflow: hidden;
	border-radius: 15px;
}
.members .container .card::before,
.members .container .card::after {
	content: "";
	position: absolute;
	inset: 0 0 0 50px;
	background-color: #f3f3f3;
	z-index: -1;
	border-radius: 15px;
}
.members .container .card::after {
	background-color: #e4e4e4;
	transform-origin: right;
	transform: translateX(100%);
	transition: transform 0.3s;
}
.members .container .card:hover::after {
	transform: translateX(0);
}
.members .container .card .show {
	display: flex;
}
.members .container .card .show img {
	max-width: 100%;
	border-radius: 10px;
	transition: filter 0.3s;
}
.members .container .card:hover .show img {
	filter: grayscale(100%);
}
.members .container .card .show .socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}
.members .container .card .show .socials a {
	padding: 20px;
}
.members .container .card .show .socials i {
	color: #777;
}
.members .container .card .show .socials a:hover i {
	color: var(--main-color);
}
.members .container .card .text {
	padding: 20px;
	margin-left: 50px;
}
.members .container .card .text h3 {
	color: var(--main-color);
	font-size: 24px;
	margin-bottom: 10px;
	transition: color 0.3s;
}
.members .container .card:hover .text h3 {
	color: #777;
}
/* End Members */
/* Start Services */
.services {
	padding: var(--section-padding) 0;
	background-color: var(--secondary-color);
	background-image: linear-gradient(135deg, white 30%, transparent 30%),
		linear-gradient(-135deg, white 30%, transparent 30%);
	background-size: 30px 15px;
	background-repeat: repeat-x;
}
.services .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.services .container .box {
	background-color: white;
	text-align: center;
	padding-top: 40px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
	counter-increment: box-counter;
	transition: transform 0.3s;
}
.services .container .box:hover {
	transform: translateY(-10px);
}
.services .container .box::before {
	content: "";
	position: absolute;
	top: 0;
	width: 0;
	left: 50%;
	height: 5px;
	background-color: var(--main-color);
	transition: width 0.3s;
	transform: translateX(-50%);
}
.services .container .box:hover::before {
	width: 100%;
}
.services .container .box i {
	font-size: 70px;
	color: #ccc;
	margin-bottom: 20px;
}
.services .container .box h3 {
	font-size: 26px;
	color: var(--main-color);
	margin-bottom: 20px;
}
.services .container .box .details {
	text-align: right;
	padding: 15px 10px;
	position: relative;
	background-color: #f9f9f9;
	overflow: hidden;
}
.services .container .box .details a {
	color: var(--main-color);
}
.services .container .box .details::before {
	content: "0" counter(box-counter);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100px;
	background-color: var(--main-color);
	color: white;
	display: flex;
	align-items: center;
	font-size: 28px;
	font-weight: bold;
	text-indent: 25px;
}
.services .container .box .details::after {
	content: "";
	position: absolute;
	top: -1px;
	bottom: -1px;
	background-color: #d5d5d5;
	width: 50px;
	left: 80px;
	transform: skewX(-30deg);
}
/* End Services */
/* Start Skills */
.skills {
	padding: var(--section-padding) 0;
}
.skills .container {
	display: flex;
	gap: 60px;
}
@media (max-width: 1199px) {
	.skills .container {
		gap: 0;
	}
}
@media (max-width: 992px) {
	.skills .container img {
		display: none;
	}
}
.skills .container .show {
	flex: 1;
}
.skills .container .show .box {
	flex: 1;
	position: relative;
}
.skills .container .show .box::before {
	content: attr(data-percentage);
	position: absolute;
	right: 0;
	top: 0px;
	border: 1px solid #ccc;
	padding: 4px 6px;
	color: var(--main-color);
	font-size: 12px;
	font-weight: bold;
	border-radius: 4px;
}
.skills .container .show h3 {
	margin-bottom: 20px;
}
.skills .container .show .progress-bar {
	height: 30px;
	background-color: #eee;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.skills .container .show .progress-bar .progress {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: var(--main-color);
}
/* End Skills */
/* Start Word Steps */
.work-steps {
	padding: var(--section-padding) 0;
	background-color: var(--secondary-color);
}
.work-steps .container {
	display: flex;
	gap: 100px;
	align-items: center;
}
@media (max-width: 991px) {
	.work-steps .container {
		flex-direction: column;
	}
}
.work-steps .container img {
	max-width: 100%;
}
.work-steps .container .categories .box {
	padding: 40px;
	display: flex;
	gap: 40px;
	background-color: #f6f5f5;
	border: 1px solid white;
	border-radius: 8px;
	margin-bottom: 20px;
	align-items: center;
	position: relative;
	isolation: isolate;
}
@media (max-width: 767px) {
	.work-steps .container .categories .box {
		text-align: center;
		flex-direction: column;
	}
}
.work-steps .container .categories .box::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: #ededed;
	z-index: -1;
	scale: 0;
	transition: scale 0.3s;
}
.work-steps .container .categories .box:hover::before {
	scale: 1;
}
.work-steps .container .categories .box .image-holder {
	width: 70px;
	flex-shrink: 0;
}
.work-steps .container .categories .box img {
	max-width: 100%;
}
.work-steps .container .categories .box .text h3 {
	font-size: 22px;
	margin-bottom: 10px;
}
.work-steps .container .categories .box .text p {
	line-height: 1.8;
	font-size: 18px;
	color: #777;
}
/* End Word Steps */
/* Start Events */
.events {
	padding: var(--section-padding) 0;
	background: url("../images/dots.png") no-repeat right 25%,
		url("../images/dots.png") no-repeat left 75%;
}
@media (width < 768px) {
	.events {
		background-image: none;
	}
}
.events .container .show {
	display: flex;
	align-items: center;
}
.events .container .show img {
	width: 450px;
}
@media (width < 992px) {
	.events .container .show img {
		display: none;
	}
}
.events .container .show .info {
	text-align: center;
}
@media (width < 992px) {
	.events .container .show .info {
		margin-bottom: 40px;
	}
}
.events .container .show .info .counter {
	display: inline-flex;
	gap: 10px;
}
.events .container .show .info .counter .count {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 10ch;
	transition: border-color 0.3s;
}
@media (width < 768px) {
	.events .container .show .info .counter .count {
		width: 7ch;
	}
}
.events .container .show .info .counter .count .number {
	color: var(--main-color);
	font-size: 32px;
	font-weight: bold;
	padding: 20px 0;
}
.events .container .show .info .counter .count .unit {
	border-top: 1px solid #ccc;
	font-size: 13px;
	transition: border-color 0.3s;
	padding: 5px 0;
}
.events .container .show .info .counter .count:hover,
.events .container .show .info .counter .count:hover .unit {
	border-color: var(--main-color);
}
.events .container .show .info h3 {
	font-size: 30px;
	margin: 30px 0 20px;
}
.events .container .show .info p {
	line-height: 1.8;
	font-size: 18px;
	color: #777;
}
.events .container form {
	padding: 30px 40px;
	background-color: #f3f3f3;
	border-radius: 100px;
	width: fit-content;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 600px;
	gap: 10px;
}
@media (width < 768px) {
	.events .container form {
		width: calc(100% - 40px);
		border-radius: 5px;
	}
}
.events .container form .email-input {
	padding: 20px;
	border-radius: 100px;
	border: none;
	caret-color: var(--main-color);
	flex-grow: 1;
}
@media (width < 768px) {
	.events .container form .email-input {
		border-radius: 5px;
		width: 100%;
	}
}
.events .container form .email-input:focus,
.events .container form .email-input:active {
	outline-color: var(--main-color);
}
.events .container form .submit-btn {
	background-color: var(--main-color);
	color: white;
	padding: 20px;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	font-weight: bold;
	width: fit-content;
}
@media (width < 768px) {
	.events .container form .submit-btn {
		border-radius: 5px;
		width: 100%;
	}
}
/* End Events */
/* Start Pricing */
.pricing {
	padding: var(--section-padding) 0;
	background: url("../images/dots.png") no-repeat right 25%,
		var(--secondary-color) url("../images/dots.png") no-repeat left 75%;
}
.pricing .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.pricing .container .box {
	background-color: white;
	padding: 50px 0 30px;
	text-align: center;
	position: relative;
	z-index: 2;
	box-shadow: 0 4px 5px #0002, 0 10px 20px #0002;
}
.pricing .container .box.popular {
	transform: translateY(-20px);
}
@media (width < 1200px) {
	.pricing .container .box.popular {
		transform: none;
	}
}
.pricing .container .box.popular .popular-tag {
	position: absolute;
	background-color: var(--main-color);
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	right: 20px;
	top: 0;
	transform-origin: left top;
	rotate: 90deg;
	translate: 100% 0;
}
.pricing .container .box.popular .popular-tag::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	border: 20px solid;
	border-color: var(--main-color) transparent var(--main-color)
		var(--main-color);
	transform: translateX(60%);
	box-sizing: border-box;
}
.pricing .container .box::before,
.pricing .container .box::after {
	content: "";
	position: absolute;
	height: 50%;
	left: 0;
	right: 0;
	background-color: #f9f9f9;
	z-index: -1;
	transform: scaleX(0);
	transition: transform 0.3s;
}
.pricing .container .box::before {
	top: 0;
	transform-origin: left;
}
.pricing .container .box::after {
	bottom: 0;
	transform-origin: right;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
	transform: scaleX(1);
}
.pricing .container .box h3 {
	font-size: 24px;
}
.pricing .container .box img {
	width: 80px;
	margin: 40px 0;
}
.pricing .container .box .price {
	font-size: 64px;
	color: var(--main-color);
	font-weight: bold;
}
.pricing .container .box .month {
	color: #777;
}
.pricing .container .box .plan-features {
	padding: 0;
	margin: 20px 0;
	text-align: left;
}
.pricing .container .box .plan-features li {
	padding: 20px;
	border-top: 1px solid #eee;
}
.pricing .container .box .plan-features li::before {
	content: "\f00c";
	font-family: "font awesome 5 free";
	font-weight: 900;
	font-size: 20px;
	color: var(--main-color);
	margin-right: 10px;
	vertical-align: middle;
}
.pricing .container .box button {
	background-color: white;
	color: var(--main-color);
	padding: 15px 20px;
	border: 1px solid var(--main-color);
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
}
.pricing .container .box button:hover {
	color: white;
	background-color: var(--main-color);
}
/* End Pricing */
/* Start Videos */
.videos {
	padding: var(--section-padding) 0;
}
.videos .container .video-holder {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border: 1px solid #ddd;
}
@media (width < 992px) {
	.videos .control-section {
		grid-column: span 4;
	}
}
.videos .container .video-holder .control-section .video-header {
	background-color: #f4f4f4;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.videos .container .video-holder .control-section .video-list li {
	padding: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.videos .container .video-holder .control-section .video-list li:hover {
	background-color: #fafafa;
}
.videos .container .video-holder .control-section .video-list li h4 {
	margin-bottom: 15px;
	font-weight: normal;
	transition: color 0.3s;
}
.videos .container .video-holder .control-section .video-list li:hover h4 {
	color: var(--main-color);
}
.videos .container .video-holder .control-section .video-list li .time {
	color: #777;
}
.videos .video-section {
	grid-column: span 3;
	background-color: #e2e2e2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	gap: 10px;
}
@media (width < 992px) {
	.videos .video-section {
		grid-column: span 4;
	}
}
.videos .container .video-holder .video-section img {
	max-width: 100%;
}
.videos .container .video-holder .video-section .description {
	background-color: white;
	padding: 20px;
}
/* End Videos */
/* Start Stats */
.stats {
	text-align: center;
	background-image: url(../images/stats.jpg);
	background-size: cover;
	position: relative;
	z-index: 1;
	padding: var(--section-padding) 0;
}
.stats::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: #fffe;
	z-index: -1;
}
.stats h2 {
	font-size: 40px;
	margin-bottom: 60px;
}
.stats .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 30px;
}
.stats .container .stat {
	background-color: white;
	padding: 30px;
	position: relative;
}
.stats .container .stat::before,
.stats .container .stat::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 2px;
	background-color: var(--main-color);
	scale: 1 0;
	transition: scale 1s;
}
.stats .container .stat::before {
	transform-origin: bottom;
	left: 0;
}
.stats .container .stat::after {
	transform-origin: top;
	right: 0;
}
.stats .container .stat:hover::before,
.stats .container .stat:hover::after {
	scale: 1;
}
.stats .container .stat i {
	font-size: 30px;
	margin-bottom: 10px;
}
.stats .container .stat .number {
	font-size: 55px;
	font-weight: bold;
	margin-bottom: 10px;
}
.stats .container .stat h3 {
	color: var(--main-color);
}
.stats .container .stat > * {
	opacity: 0.7;
	transition: opacity 0.3s;
}
.stats .container .stat:hover > * {
	opacity: 1;
}
/* End Stats */
/* Start Discount */
.discount {
	display: flex;
	text-align: center;
}
@media (width < 992px) {
	.discount {
		flex-wrap: wrap;
	}
}
.discount .info {
	background-image: url(../images/discount-background1.jpg);
	background-size: cover;
	flex: 1;
	color: white;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (width < 992px) {
	.discount .info {
		flex-basis: 100%;
		padding: 80px 0;
	}
}
.discount .info::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url(../images/discount-background2.jpg);
	background-size: cover;
	z-index: -1;
	animation: change-background 10s infinite alternate;
}
.discount .info::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--main-color-alt);
	opacity: 0.97;
	z-index: -1;
}
.discount .info h2 {
	font-size: 40px;
	margin-bottom: 40px;
}
.discount .info p {
	line-height: 1.6;
	padding: 0 90px;
	font-size: 18px;
	margin-bottom: 20px;
}
@media (width < 992px) {
	.discount .info p {
		padding: 0 20px;
	}
}
.discount .info img {
	width: 300px;
}
.discount .request {
	flex: 1;
	padding: 200px 0;
}
@media (width < 992px) {
	.discount .request {
		padding: 100px 0;
	}
}
.discount .request h3 {
	font-size: 40px;
	margin-bottom: 30px;
}
.discount .request form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 300px;
	margin: auto;
}
.discount .request form > * {
	padding: 15px;
}
.discount .name-input,
.discount .email-input,
.discount .phone-input,
.discount .description-input {
	background-color: #f9f9f9;
	border: none;
	border-bottom: 2px solid #ccc;
	caret-color: var(--main-color);

	&:focus,
	&:active {
		outline-color: var(--main-color);
	}
}
.discount .description-input {
	height: 200px;
	resize: none;
}
.discount .submit-btn {
	background-color: var(--main-color);
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}
.discount .submit-btn:hover {
	background-color: var(--main-color-alt);
}
/* End Discount */
/* Start animation */
@keyframes image-float {
	0%,
	100% {
		translate: 0 -30px;
	}
	50% {
		translate: 0 30px;
	}
}
@keyframes arrow-jump {
	40%,
	60% {
		translate: 0;
	}
	30%,
	50% {
		translate: 0 -20px;
	}
}
@keyframes right-left {
	0% {
		transform: translateX(-15px);
	}
}
@keyframes change-background {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* End animation */
